.DS_Store
.idea/*
.deliver/releases
node_modules/
.awcache
package-lock.json
dist/
coverage/
**/*.tsbuildinfo
/assets.info
/lib.info
/docs/

# App artifacts
/assets/build
/assets/dist

# Generated on crash by NPM
npm-debug.log
yarn-error.log

# yarn v2
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
**/.pnp.*

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/

