@font-face {
  font-display: swap;
  font-family: 'Inter-Var-Web';
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("./Inter-upright.var.woff2") format("woff2");
}